.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 40px;
  max-width: 800px;
  margin: 0 auto;
}

.login-form {
  width: 100%;

  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.login-form-header {
  text-align: center;
}

.login-form-submit-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: bold;
  margin-top: 20px;
}

.login-form-submit-button.is-submitting {
  opacity: 0.7;
}

.login-form-error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.login-form-error-message > a {
  text-decoration: underline;
  color: black;
}
